main.page-main.main
	section.intro
		.intro__container
			.slider-nav
				button.button-reset.slider-nav__btn._left.js-intro-slider-nav-prev
					<svg class="slider-nav__btn-icon" viewBox="0 0 152 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 16L150 16" stroke="url(#paint0_linear_14_595)" stroke-width="2"/>
						<path class="rest" d="M135 1L150 16L135 31" stroke="#727272" stroke-width="2"/>
						<defs>
							<linearGradient id="paint0_linear_14_595" x1="-4.37114e-08" y1="16.5" x2="150" y2="16.5172" gradientUnits="userSpaceOnUse">
							<stop class="_stop" stop-color="#999999" stop-opacity="0"/>
							<stop class="_stop" offset="1" stop-color="#727272"/>
							</linearGradient>
						</defs>
					</svg>
					<svg class="slider-nav__btn-icon _mobile" width="60" height="32" viewBox="0 0 60 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M60 16L2 16" stroke="url(#paint0_linear_20_22)" stroke-width="2"/>
						<path d="M17 1L2 16L17 31" stroke="#F36A1D" stroke-width="2"/>
						<defs>
						<linearGradient id="paint0_linear_20_22" x1="60" y1="16.5" x2="1.99993" y2="16.5026" gradientUnits="userSpaceOnUse">
						<stop stop-color="#F36A1D" stop-opacity="0"/>
						<stop offset="1" stop-color="#F36A1D"/>
						</linearGradient>
						</defs>
					</svg>

				button.button-reset.slider-nav__btn._right.js-intro-slider-nav-next
					<svg class="slider-nav__btn-icon" viewBox="0 0 152 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 16L150 16" stroke="url(#paint0_linear_14_5952)" stroke-width="2"/>
						<path class="rest" d="M135 1L150 16L135 31" stroke="#727272" stroke-width="2"/>
						<defs>
							<linearGradient id="paint0_linear_14_5952" x1="-4.37114e-08" y1="16.5" x2="150" y2="16.5172" gradientUnits="userSpaceOnUse">
							<stop class="_stop" stop-color="#999999" stop-opacity="0"/>
							<stop class="_stop" offset="1" stop-color="#727272"/>
							</linearGradient>
						</defs>
					</svg>
					<svg class="slider-nav__btn-icon _mobile" width="60" height="32" viewBox="0 0 60 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 16L58 16" stroke="url(#paint0_linear_16_828)" stroke-width="2"/>
						<path d="M43 1L58 16L43 31" stroke="#F36A1D" stroke-width="2"/>
						<defs>
						<linearGradient id="paint0_linear_16_828" x1="-4.37114e-08" y1="16.5" x2="58.0001" y2="16.5026" gradientUnits="userSpaceOnUse">
						<stop stop-color="#F36A1D" stop-opacity="0"/>
						<stop offset="1" stop-color="#F36A1D"/>
						</linearGradient>
						</defs>
					</svg>

			.swiper.intro-slider
				.swiper-wrapper.js-swiper-warpper
	//- section.intro2(style="height: 150px")


