main.page-main.main
	section.intro
		.intro__container
			.slider-nav
				button.button-reset.slider-nav__btn._left.js-intro-slider-nav-prev
					<svg class="slider-nav__btn-icon" viewBox="0 0 152 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 16L150 16" stroke="url(#paint0_linear_14_595)" stroke-width="2"/>
						<path class="rest" d="M135 1L150 16L135 31" stroke="#727272" stroke-width="2"/>
						<defs>
							<linearGradient id="paint0_linear_14_595" x1="-4.37114e-08" y1="16.5" x2="150" y2="16.5172" gradientUnits="userSpaceOnUse">
							<stop class="_stop" stop-color="#999999" stop-opacity="0"/>
							<stop class="_stop" offset="1" stop-color="#727272"/>
							</linearGradient>
						</defs>
					</svg>
				button.button-reset.slider-nav__btn._right.js-intro-slider-nav-next
					<svg class="slider-nav__btn-icon" viewBox="0 0 152 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 16L150 16" stroke="url(#paint0_linear_14_5952)" stroke-width="2"/>
						<path class="rest" d="M135 1L150 16L135 31" stroke="#727272" stroke-width="2"/>
						<defs>
							<linearGradient id="paint0_linear_14_5952" x1="-4.37114e-08" y1="16.5" x2="150" y2="16.5172" gradientUnits="userSpaceOnUse">
							<stop class="_stop" stop-color="#999999" stop-opacity="0"/>
							<stop class="_stop" offset="1" stop-color="#727272"/>
							</linearGradient>
						</defs>
					</svg>
			.swiper.intro-slider
				.swiper-wrapper.js-swiper-warpper
	//- section.intro2(style="height: 150px")


