footer.footer
	.site-container.footer__container
		ul.social
			li.social__item
				a.social__link(href="/")
					+icon("ok")(width="44" height="44" class="social__link-icon")
			li.social__item
				a.social__link(href="/")
					+icon("vk")(width="44" height="44" class="social__link-icon")
			li.social__item
				a.social__link(href="/")
					+icon("fb")(width="44" height="44" class="social__link-icon")
