.modal__container.modal-like(data-target="like")
	.modal__content
		button.button-reset.modal__close-btn.modal-close
			span
			span
		.modal__heading.js-like-heading
			|	BMW i8
		p.modal__text.js-like-descr
			|	Тест тест

