*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	line-height: 1.4;

	@include mq(custom, min, 2100) {
		font-size: 14px;
	}

	@include mq(custom, max, 1536) {
		font-size: 9px;
	}

	@include mq(custom, max, 1366) {
		font-size: 8px;
	}

	@include mq(custom, max, 1280) {
		font-size: 6px;
	}

	@include mq(sm) {
		font-size: 10px;
	}

	@include mq(custom, max, 320) {
		font-size: 9px;
	}
}

body {
	color: var(--color-dark-grey);
	font-family: var(--main-ff);
	font-weight: 300;
	font-size: 2rem;
	line-height: 2.6rem;
	letter-spacing: -0.05em;
	background: var(--gradient-bg);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: inherit;
}

.list-rest {
	padding: 0;
	margin: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.site-container {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 64px;

	@include mq(lg) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@include mq(sm) {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.page-main {
	flex-grow: 1;
}
